/*-------------
  Header
-------------*/




.header {
    height: auto;
    min-height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .logo-holder{
        background-color: #fff;
        padding: 20px;
        text-align: center;
    }
    .hero{
        width: 100%;
        height: 100%;
        color: #fff;
        background: $primary-colour;
        background-image: url(/images/connector-modded.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        padding: 45px 50px;
        flex: 1; 

        .header-content {
            h1{
                background-color: #fff; 
                overflow:hidden;
                display:inline-block;
                color:transparent;
                text-align: center;
                font-size: 30px; 
                font-weight:bold;
                padding: 10px;
                line-height: 1;
                margin: 0;
                span{
                    background-color: $primary-colour;
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    display:block;
                }
            }
            .text-container{
                p{
                    font-size: 20px;
                }
            } 
            @include breakpoint(600px){
                .text-container{
                    max-width: 750px;
                }
            }
        }
    }
    @include breakpoint(1100px){
        .hero{
            padding-left: 150px;
        }
    }
}

